#frontend/.htaccess
RewriteEngine On

RewriteRule gio-hang-cua-ban.html index.php?controller=cart&action=index

RewriteRule xoa-san-pham/([1-9]+).html index.php?controller=cart&action=delete&id=$1

RewriteRule thanh-toan.html index.php?controller=payment&action=index
